$black-color: #0B0D17;
$blue-color: #D0D6F9;
$white-color: #FFFFFF;

$main-font-family: "Barlow Condensed", sans-serif;
$second-font-family: "Bellefair", sans-serif;
$third-font-family: "Barlow", sans-serif;